body {
  margin: 0;
  display: flex;
  place-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: beige;
  color: #000;
  justify-content: center;
}

